{%- set models = params.models if params.models else [] -%}
{%- set selectedModelId = params.modelId if params.modelId else '' -%}

{% if models.length > 0 %}
  <fieldset class="govuk-fieldset govuk-!-margin-bottom-8">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        Select AI model
      </h3>
    </legend>

    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      {% for model in models %}
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="model-{{ loop.index }}"
            name="modelId"
            type="radio"
            value="{{ model.modelId }}"
            {% if selectedModelId and model.modelId == selectedModelId %}checked{% elif not selectedModelId and loop.first %}checked{% endif %}
          />
          <label class="govuk-label govuk-radios__label defra-model-select__label" for="model-{{ loop.index }}">
            <div class="defra-model-select__model-name">{{ model.modelName }}</div>
            <div class="defra-model-select__model-description">{{ model.modelDescription }}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endif %}
