{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "components/defra-header/macro.njk" import defraHeader %}

{% block header %}

    {{ defraHeader({
        organisationLabel: {
            text: "Defra",
            href: "/"
        },
        serviceLabel: {
            text: serviceName,
            href: "/"
        },
        navigation: {
            label: "Account navigation",
            items: [
                {
                    text: "Your account",
                    href: "#",
                    active: false
                },
                {
                    text: "Sign out",
                    href: "#"
                }
            ]
        }
    }) }}

{% endblock %}
