{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">This is a prototype for testing and research purposes only.</p>

    <h2 class="govuk-heading-m">Prototype versions</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/version-1/password" class="govuk-link">Version 1 - Password-protected UCD bot</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">About this prototype</h2>
    
    <p class="govuk-body">
      This prototype is built using the <a href="https://prototype-kit.service.gov.uk" class="govuk-link">GOV.UK Prototype Kit</a>.
    </p>

  </div>
</div>

{% endblock %}
