@include govuk-exports("govuk-frontend/components/header") {
    .govuk-header {
        border-bottom: 0;
        padding-top: govuk-spacing(1);
        padding-bottom: govuk-spacing(1);
    }
    
    .govuk-header__container {
        margin-bottom: 0;
        border-bottom: 0;
    }
    
    .govuk-header__logo {
        margin: 0;
    }

    .govuk-header__link {
        @include govuk-font($size: 16, $weight: bold);
        background: url('/public/images/crest-white.png') no-repeat 8px center;
        background-size: auto 24px;
        border-left: 4px solid #fff;
        padding-left: 44px;
        padding-top: 6px;
        padding-bottom: 6px;
        display: block;
        text-decoration: none;
        margin: 0;

        &:focus {
            @include govuk-focused-text;
        }
    }
}
